.main-background{
    @apply bg-gradient-to-br from-[#000428] to-[#041e35] text-white h-full;

    animation: gradientAnimation 10s ease infinite;

}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}